body{
  background-color: rgb(231, 231, 231);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.menu{
  position: fixed;
  top: 0;
  width: 100%;
  height: 150px;
  background-image: linear-gradient(to right,rgb(200, 229, 255),#6ebeff, rgb(200, 229, 255));
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom: 3px solid rgb(191, 191, 191);
}
.menu2{
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 80px;
  background-image: linear-gradient(to right,#6ebeff,rgb(200, 229, 255), rgb(200, 229, 255));
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 4px 4px 10px rgb(161, 161, 161);
}
.box{
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.box2{
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-top: 25px;
  margin-left: 10px;
  gap: 10px;
}
h3{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  text-align: top;
  color: rgb(228, 242, 253);

}
.nav-btn1 {
  background-color: #5880ff;
  color: #e4f2fd;
  border: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px 20px;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  border-bottom: 3px solid #4666cc;
  cursor: pointer;
  transition: background 0.2s;
  margin: 0 5px;
}
.nav-btn2 {
  background-color: #5880ff;
  color: #e4f2fd;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s;
  border-bottom: 3px solid #4666cc;
  margin: 0 5px;
}
.nav-btn3 {
  background-color: #5880ff;
  color: #e4f2fd;
  border: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px 20px;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s;
  border-bottom: 3px solid #4666cc;
  margin: 0 5px;
}
.nav-list1 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;}
.nav-btn1:hover {
  background-color: #4666cc;
  box-shadow: inset 0 0 5px #1c2f6d;
  border-bottom: none;
}
.nav-btn2:hover {
  background-color: #4666cc;
  box-shadow: inset 0 0 5px #1c2f6d;
  border-bottom: none;
}
.nav-btn3:hover {
  background-color: #4666cc;
  box-shadow: inset 0 0 5px #1c2f6d;
  border-bottom: none;
}

.hometext{
text-align: center;
margin-top: 300px;
font-family: 'Courier New', Courier, monospace;
}
.first-box{
flex-direction: row;
display: flex;
justify-content: flex-start;  
gap: 5%;
}
.first{
margin-top: 85px;
padding-bottom: 60px;
background-color: rgba(255, 255, 255, 0.861);
border-radius: 10px;
box-shadow:2px 2px 6px rgb(168, 168, 168) ;
}
.second{
display: flex;
align-items: center;
justify-content: center;
position: relative;
  z-index: 1;
gap: 10px;
background-color: rgba(255, 255, 255, 0.861);
border-radius: 10px;
box-shadow:2px 2px 6px rgb(168, 168, 168) ;
padding-bottom: 60px;
margin-bottom: 10px;
margin-top: 10px;
}
.firsttext{
font-family: 'Courier New', Courier, monospace;
margin-top: 120px;
margin-left: 50px;
margin-right: 200px;
font-size: 65px;
background: linear-gradient(90deg,#5880ff, #6ebeff);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
color: transparent;
}
.ommig{
font-family: 'Courier New', Courier, monospace;
margin-top: 50px;
margin-left: 50px;
font-size: 20px;
background-color: #b0dcff;
border-radius: 6px;
color: #5880ff;
font-weight: bold;
padding: 10px;
max-width: 600px;
box-shadow:1px 1px 2px rgb(168, 168, 168) ;
}
.portrait{
  margin-top: 100px;
  float: right;
  margin-left: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgb(112, 111, 111);
  border: 3px solid #b0dcff ;
}
.projekt-list1 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;}
.projekt-list2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 50px;
  list-style: none;
  margin: 0;
  margin-top: 50px;
  padding: 10px 10px 10px 10px;}
.projekt-button2 {
  background-color: rgb(200, 229, 255);
  border: none;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgb(236, 236, 236);
  cursor: pointer;
  transition: background 0.2s;
  margin: 0 5px;
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: left;

}
.projekt-image2{
  max-width: 300px;
  max-height: 200px;
  height: auto;
  margin-left: 40px;
  margin-top: 40px;
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgb(168, 168, 168);
  object-fit: cover;
  align-self: center;
  display: flex;

}
.Button-text2{
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
 color: #8ec7f1;
 margin-left: 10px;
  margin-right: 40px;
 text-decoration: none;
 font-weight: bold;
  background-color: #ffffff;
  box-shadow: 4px 4px 6px rgb(168, 168, 168);
border-radius: 6px;
padding: 2px 12px;


}
.decgone{
  text-decoration: none;
}
.please{
    display: flex;
  flex-direction: row;
}
.projekt-button2:hover  {
  background-color: rgb(115, 190, 255);
  box-shadow: inset 0 0 5px #696969;
  border-bottom: none;
  
}
.projekt-button2:hover .Button-text2 {
  background-color: rgb(215, 215, 215);
  box-shadow: 4px 4px 6px rgb(108, 108, 108);
  color: #7797ff;
  filter: blur(2px);
}
.projekt-button2:hover .projekt-image2  {
  filter: blur(4px);
}
.projektnr{
  margin-left: 50px;
  font-family: 'Courier New', Courier, monospace;
 color: #61b5f1;
 background-color: aliceblue;
 width: 160px;
 padding-left: 10px;
 padding-top: 5px;
 padding-bottom: 5px;
 border-radius: 10px;
 box-shadow: 4px 4px 6px rgb(108, 108, 108);
}
.contact{
  background-color: #a5d7ff;
  padding-bottom: 40px;
  border-radius: 10px;
   box-shadow: 4px 4px 6px rgb(108, 108, 108);
  padding-top: 1px;
  
}
.contact-box1{
  background-color: #ebf7ff;
  border-radius: 10px;
  border: 2px solid #7797ff;
  box-shadow: 4px 4px 6px rgb(108, 108, 108);
  font-family: 'Courier New', Courier, monospace;
 color: #61b5f1;
 width: 30%;
 height: 30px;
 margin-left: 20px;
}
.contact-box2{
  background-color: #ebf7ff;
  border-radius: 10px;
  border: 2px solid #7797ff;
  box-shadow: 4px 4px 6px rgb(108, 108, 108);
  font-family: 'Courier New', Courier, monospace;
 color: #61b5f1;
 width: 35%;
 height: 50px;
 margin-left: 20px;
}
input::placeholder, textarea::placeholder{
  font-family: 'Courier New', Courier, monospace;
  color: #61b5f1; 
  font-size: 18px;
}
.submit-button{
background-color: #5880ff;
  color: #e4f2fd;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  border-bottom: 3px solid #4666cc;
  cursor: pointer;
  transition: background 0.2s;
  margin: 0 20px;
}
.submit-button:hover {
  background-color: #4666cc;
  box-shadow: inset 0 0 5px #1c2f6d;
  border-bottom: none;
}
.lasttext{
font-family: 'Courier New', Courier, monospace;
padding-top: 20px;
margin-left: 20px;
margin-bottom: 50px;
font-size: 65px;
background: linear-gradient(90deg,#5880ff, #6ebeff);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
color: transparent;
}
.contactplace{
margin-left: 35%;
margin-bottom: 5%;
}
footer{
  background-color: #9fb5ff;
  color: #e4f2fd;
  text-align: center;
  font-weight: bold;
  padding: 20px;
  position: relative;
  bottom: 0;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 10px;
  border-radius: 10px;
}
.about-boxes{
  background-color: #c0e2ff;
  border-radius: 10px;
  margin: 30px;
  margin-left: 50px;
  box-shadow: 4px 4px 6px rgb(108, 108, 108);
  height: 120px;
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
 color: #5880ff;
  font-weight: bold;
  font-size: 18px;
}
