@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Courier Prime', monospace;
}

.gradient-text {
  background: linear-gradient(90deg, #5880ff, #6ebeff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.smooth-scroll {
  scroll-behavior: smooth;
}
